@page "{id:int?}"
@model RazorPages.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детали заказа</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StartCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StartCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StartAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StartAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FinishCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FinishCity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FinishAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FinishAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться к заказам</a>
</div>
